<app-header></app-header>

<main class="container">
  <div class="row">
    <div class="col s12 m4 l3" *ngFor="let quote of randomQuotes">
      <div class="card medium">
        <div class="card-image">
          <img [src]="quote.image" />
        </div>
        <div class="card-content">
          <p>{{quote.message}}</p>
        </div>
        <div class="card-action">
          <a class="blue-text accent-4" [href]="quote.profile" target="_blank">{{quote.author}}</a>
        </div>
      </div>
    </div>
  </div>
</main> 
<!-- <main class="container">
  <div class="row">
    <div class="col s12 m4 l3" *ngFor="let quote of randomQuotes">
      <div class=" card small  light-blue lighten-1">
        <div class="card-content" style="background-image: url({{quote.image}});">
          <p class="black-text flow-text">{{quote.message}}</p>
        </div>
        <div class="card-action grey lighten-4">
          <img class="left" width="30" [src]="quote.image" />
          <a class="right" [href]="quote.profile" target="_blank">
            <span class="grey-text accent-4">{{quote.author}}</span></a>
        </div>
      </div>
    </div>
  </div>
</main> -->
<app-footer></app-footer>